<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

    <style>
        div,
        input {
            font: 15px Tahoma;
            margin: 10px;
        }
        
        input {
            padding: 5px 7px;
        }
        
        table,
        th,
        td {
            border: solid 1px #CCC;
            padding: 1px 3px;
            font: 20px Tahoma;
        }
        
        th {
            font-weight: bold;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EvePlus</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="assets/css/Article-Dual-Column.css">
    <link rel="stylesheet" href="assets/css/best-carousel-slide.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-CSS-Image-Slider.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-v2-Modal--Full-with-Google-Map.css">
    <link rel="stylesheet" href="assets/css/Dark-Footer-1.css">
    <link rel="stylesheet" href="assets/css/Dark-Footer-2.css">
    <link rel="stylesheet" href="assets/css/Dark-Footer.css">
    <link rel="stylesheet" href="assets/css/dh-navbar-inverse.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/gradient-navbar-1.css">
    <link rel="stylesheet" href="assets/css/gradient-navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/News-Cards.css">
    <link rel="stylesheet" href="assets/css/sticky-dark-top-nav-with-dropdown.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Testimonials.css">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean navbar-light navbar-fixed-top">

        <div class="container">

            <p id="p1"></p>
            <a class="navbar-brand ml-auto" href="#" style="padding:0px;margin-left:0px;height:78px;">EVEPLUS
                        <img class="img-fluid" src="assets/img/IMG-20190326-WA0001.jpg">
                        <!-- The counter -->
                        <a href="http://www.hitwebcounter.com" target="_blank">
                            <img src="http://hitwebcounter.com/counter/counter.php?page=7051878&style=0006&nbdigits=5&type=page&initCount=0" title="Hit Web Stats" Alt="Hit Web Stats"   border="0" >
                            </a> <br/>
            <!-- hitwebcounter.com -->
            <a href="http://www.hitwebcounter.com" title="" target="_blank" style="font-family: ;
                                                                    font-size: px; color: ; text-decoration: ;">
            </a>
            <!-- The end of the counter -->
            </a>

        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-md navbar-fixed-top gren" id="app-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html">HOME</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="SelfDefence.html">SELF-DEFENCE TIPS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="EyeWitness.html">EYE-WITNESS ACCOUNTS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="safetyMeasures.html">SAFETY MEASURES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="WomenHeroes.html">WOMEN HEROES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="CampaginAreas.html">COMPAGIN IDEAS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="UnsafeAreas.html">UNSAFE AREAS</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div ng-app="myApp" ng-controller="myController">

            <!--DYNAMICALLY POPULATE SELECT ELEMENT USING JSON HEADERS-->
            Search By
            <select ng-model="columns" ng-options="e for e in headers">
        <option value=""></option>
    </select>

            <!--BIND THE SEARCH BOX TO THE SELECT ELEMENT-->
            Search <input type="text" ng-model="search[columns]" placeholder="Enter some text to search" />

            <table>
                <tr>
                    <th>ID</th>
                    <th> Name</th>
                    <th>Age</th>
                    <th>Date of Report</th>
                    <th> Crime </th>
                </tr>
                <tr ng-repeat="emps in employees | filter : search">

                    <td>{{emps.id}}</td>
                    <td>{{emps.name}}</td>
                    <td>{{emps.age}}</td>
                    <td>{{emps.joinDate | date : 'dd/MM/yyyy'}}</td>
                    <td>{{emps.cri}}</td>

                </tr>
            </table>
        </div>
    </div>
    <div class="footer-dark">
        <div style="text-align:center;">
            <h2 class="divider-style" style="margin-top:0px;"><span style="background-color:rgb(40, 45, 50);"><a href="#"><i class="fa fa-globe"></i></a>&nbsp;EvePlus</span></h2>
        </div>
        <footer>
            <div class="container">
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-6 item text" style="margin-bottom:0px;">
                        <h3>EvePlus</h3>
                        <p>While violence against women is a serious problem today, women do not have to become victims</p>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="filter.html">Report</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col item social" style="margin-top:10px;"><input class="form-control-lg" type="email" value="Name@email.com" style="width:200px;height:40px;margin-left:-3px;margin-bottom:11px;margin-top:30px;"><button class="btn btn-primary" type="button" style="width:111px;height:40px;margin-top:-8px;">SUBSCRIBE</button>
                    <h1 style="font-size:1rem;">Weekly Newsletter</h1>
                </div>
                <div class="col item social" style="margin-top:15px;"><a href="#"><i class="fa fa-google"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-github"></i></a><a href="#"><i class="icon ion-social-linkedin"></i></a></div>
                <div style="text-align:center;margin-top:-40px;">
                    <h2 class="divider-style"></h2>
                </div>
                <p class="copyright">EvePlus © 2019</p>
            </div>
        </footer>
    </div>

    <script>
        angular.module("myApp", [])
            .controller('myController', ['$scope', function($scope) {

                $scope.employees = [{
                    'id': '001',
                    'name': 'Sara',
                    'joinDate': '05/17/2015',
                    'age': 37,
                    'cri': 'Rape'
                }, {
                    'id': '002',
                    'name': 'Keya',
                    'joinDate': '03/25/2016',
                    'age': 27,
                    'cri': 'Rape'
                }, {
                    'id': '003',
                    'name': 'Grace',
                    'joinDate': '09/11/2015',
                    'age': 29,
                    'cri': 'Sexual Violence'
                }, {
                    'id': '004',
                    'name': 'Victoria',
                    'joinDate': '09/11/2015',
                    'age': 19,
                    'cri': 'Rape'
                }, {
                    'id': '005',
                    'name': 'Sheila',
                    'joinDate': '03/09/2014',
                    'age': 32,
                    'cri': 'Rape'
                }, {
                    'id': '007',
                    'name': 'Claudia',
                    'joinDate': '26/01/2012',
                    'age': 20,
                    'cri': 'Force Marriage'
                }, {
                    'id': '008',
                    'name': 'Leemin',
                    'joinDate': '12/09/2019',
                    'age': 25,
                    'cri': 'Rape'
                }, {
                    'id': '009',
                    'name': 'Alice',
                    'joinDate': '01/10/2017',
                    'age': 26,
                    'cri': 'Rape'
                }, {
                    'id': '0010',
                    'name': 'Emmanuella',
                    'joinDate': '09/09/2019',
                    'age': 22,
                    'cri': 'Sexual Assault'
                }, {
                    'id': '0011',
                    'name': 'Yvone',
                    'joinDate': '26/02/2019',
                    'age': 29,
                    'cri': 'Rape'
                }, {
                    'id': '012',
                    'name': 'Stephanie',
                    'joinDate': '03/09/2016',
                    'age': 29,
                    'cri': 'Rape'
                }, {
                    'id': '013',
                    'name': 'Amina',
                    'joinDate': '06/06/2011',
                    'age': 30,
                    'cri': 'Rape'
                }, {
                    'id': '014',
                    'name': 'Gwen',
                    'joinDate': '20/08/2009',
                    'age': 23,
                    'cri': 'Stalking'
                }, {
                    'id': '015',
                    'name': 'Cynthia',
                    'joinDate': '22/10/2018',
                    'age': 25,
                    'cri': 'Rape'
                }]

                // GET JSON ARRAY HEADERS.
                $scope.headers = Object.keys($scope.employees[0]);
            }]);
    </script>
</body>

</html>